In [26]:
import os
import zipfile
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.tree import DecisionTreeClassifier

In [16]:
path = os.getcwd()
path = os.path.dirname(path)
path = os.path.join(path, "data")
if os.path.isdir(path):
    ## check if if data available
    if len(os.listdir(path)) == 0:
        ## download data
        !cd $path; kaggle competitions download -c talkingdata-adtracking-fraud-detection
else:
    ## make folder
    os.mkdir(path)
    ## download data
    !cd $path; kaggle competitions download -c talkingdata-adtracking-fraud-detection

Downloading talkingdata-adtracking-fraud-detection.zip to /home/svenmaurice/05_version_control/03_kaggle/kaggle/talkingdata-adtracking-fraud-detection/data
100%|██████████████████████████████████████| 1.94G/1.94G [00:58<00:00, 20.5MB/s]
100%|██████████████████████████████████████| 1.94G/1.94G [00:58<00:00, 35.7MB/s]

In [19]:
with zipfile.ZipFile(os.path.join(path, "talkingdata-adtracking-fraud-detection.zip")) as zipref:
    zipref.extractall(path)

In [22]:
data = pd.read_csv(os.path.join(path,"train_sample.csv"))
data.head(n = 30)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0
5,93663,3,1,17,115,2017-11-09 01:22:13,NaN,0
6,17059,1,1,17,135,2017-11-09 01:17:58,NaN,0
7,121505,9,1,25,442,2017-11-07 10:01:53,NaN,0
8,192967,2,2,22,364,2017-11-08 09:35:17,NaN,0
9,143636,3,1,19,135,2017-11-08 12:35:26,NaN,0
10,73839,3,1,22,489,2017-11-08 08:14:37,NaN,0
11,34812,3,1,13,489,2017-11-07 05:03:14,NaN,0
12,114809,3,1,22,205,2017-11-09 10:24:23,NaN,0
13,114220,6,1,20,125,2017-11-08 14:46:16,NaN,0
14,36150,2,1,13,205,2017-11-07 00:54:09,NaN,0
15,72116,25,2,19,259,2017-11-08 23:17:45,NaN,0
16,5314,2,1,2,477,2017-11-09 07:33:41,NaN,0
17,106598,3,1,20,280,2017-11-09 03:44:35,NaN,0
18,72065,20,2,90,259,2017-11-06 23:14:08,NaN,0
19,37301,14,1,13,349,2017-11-06 20:07:00,NaN,0
20,28735,12,1,19,265,2017-11-09 09:55:22,NaN,0
21,66918,64,1,25,459,2017-11-08 17:01:58,NaN,0
22,25761,9,1,10,215,2017-11-08 02:05:37,NaN,0
23,8362,7,1,19,101,2017-11-07 10:30:00,NaN,0
24,45257,3,1,18,280,2017-11-07 01:35:31,NaN,0
25,145896,64,1,13,459,2017-11-07 03:58:58,NaN,0
26,162976,3,1,13,115,2017-11-07 16:19:05,NaN,0
27,52432,1,1,13,115,2017-11-07 17:22:52,NaN,0
28,135690,12,1,40,122,2017-11-07 06:39:04,NaN,0
29,139137,12,1,13,497,2017-11-07 10:11:50,NaN,0

In [25]:
data = data.drop(["attributed_time"], axis = 1)

           ip  app  device  os  channel           click_time  is_attributed
0       87540   12       1  13      497  2017-11-07 09:30:38              0
1      105560   25       1  17      259  2017-11-07 13:40:27              0
2      101424   12       1  19      212  2017-11-07 18:05:24              0
3       94584   13       1  13      477  2017-11-07 04:58:08              0
4       68413   12       1   1      178  2017-11-09 09:00:09              0
...       ...  ...     ...  ..      ...                  ...            ...
99995  124883   11       1  19      122  2017-11-09 13:25:41              0
99996   85150    9       1  13      244  2017-11-07 11:25:43              0
99997   18839    3       1  13       19  2017-11-08 11:38:42              0
99998  114276   15       1  12      245  2017-11-08 17:55:21              0
99999  119349   14       1  15      401  2017-11-07 14:32:27              0

[100000 rows x 7 columns]

In [ ]:
y_train, X_train